body {
    background-color: #6B627A;
    margin-top: 0%;
    margin-bottom: 0%;
}
.all {
    background-color: #B57272;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    height: 2000px;
}
.header {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
h1 {
    color: #E1DC5D;
}
h2 {
    color: #E1DC5D;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.profile_info {
    border: 2px;
}
h3 {
    color: #E1DC5D;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h4 {
    color: #E1DC5D;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
p {
    color: #E1DC5D;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.profiles {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    background-color: #B57272;
}
.add {
    align-self: center;
}
.insert {
    border: none;
    background-color: #7AA183;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.content {
    background-color: #B57272;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
    height: 2000px;
}
.profile_div {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.side_color {
    background-color: #7AA183;
    height: 2000;
    width: 200px;
}
.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.profile_pic {
    display: flex;
    border-radius: 50%;
    border: 3px solid #E1DC5D;
}
.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding-top: 10px;
}
.bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: #6B627A;
    padding-top: 25px;
    border-radius: 25%;
    border: 3px solid #E1DC5D;
}
.bio_text {
    width: 200px;
    text-align: left;
    align-self: center;
}
.info_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.bilder {
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 7px;
}
.img_div {
    width: 600px;
}
img {
    border-radius: 25%;
}